body
{
    padding: 5px 250px 10px 250px;
    background: #545454;
}
header
{
    color: #FFFFFF;
    font: 110% "Calibri light";
    line-height: 1px;
}
h2
{
    font: 100% "Calibri light"; 
    line-height: 1px;
}
#menu
{
    background: #FF8000 ;
    float: left;
    width: 100%;
    font: bold 110% monospace;
}
#menu li
{
    display: inline-block;
    list-style: none;
    padding: 20px 10px 0px 0px;
    color:#FFFFFF;

}
#menu li:hover
{
    background-color: #383838;
}
p
{
    text-align: justify;
}
#lado-izquierdo
{
    float: left;
    width: 80%;
    background: #FFFFFF;
    font: bold 100% monospace;
}
#lado-izquierdo h2
{
    color: #FF8000;
    font-size: 160%;
}
#lado-izquierdo article
{
    padding: 0px 30px;
}
#lado-derecho
{
    float: left;
    width: 20%;
    height: 497px;
    background: #FFFFFF; 
    font: bold 100% monospace;

}
#lado-derecho ul
{
    list-style-type: none;
}
#lado-derecho li
{
    color: #FF8000;
    padding: 0px 10px ;
}
#pie-pagina
{
    float: left;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    font: 100% "Calibri light";
    padding: 10px 0px 10px 0px;
}
#pie-pagina u
{
    color: #FF8000;
    font: 100% "Calibri light";
}